:root {
  --dictionaryksaagovsanero: rgba(255, 255, 255, 1);
  --dictionaryksaagovsadove-gray: rgba(112, 112, 112, 1);
  --dictionaryksaagovsatundora: rgba(68, 68, 68, 1);
  --dictionaryksaagovsablue-stone: rgba(0, 88, 89, 1);
  --dictionaryksaagovsaalto: rgba(219, 219, 219, 1);
  --dictionaryksaagovsablack: rgba(0, 0, 0, 1);
  --dictionaryksaagovsaeden: rgba(15, 89, 89, 1);
  --dictionaryksaagovsablack-54: rgba(0, 0, 0, 0.54);
  --dictionaryksaagovsabondi-blue: rgba(2, 164, 172, 1);
  --dictionaryksaagovsamosque: rgba(0, 105, 113, 1);
  --dictionaryksaagovsateal: rgba(0, 122, 130, 1);
  --dictionaryksaagovsagallery: rgba(237, 237, 237, 1);
  --dictionaryksaagovsaconcrete: rgba(243, 243, 243, 1);
  --dictionaryksaagovsaaqua-haze-51: rgba(239, 243, 246, 0.51);
  --dictionaryksaagovsafruit-salad: rgba(91, 158, 79, 1);
  --dictionaryksaagovsanero-02: rgba(255, 255, 255, 0);
  --dictionaryksaagovsashark: rgba(33, 37, 41, 1);
  --dictionaryksaagovsaalabaster: rgba(249, 249, 249, 1);
  --dictionaryksaagovsaseashell: rgba(242, 240, 240, 1);
  --dictionaryksaagovsacoral-tree: rgba(171, 124, 116, 1);
  --dictionaryksaagovsaroyal-blue: rgba(111, 93, 227, 1);
  --dictionaryksaagovsadusty-gray: rgba(156, 156, 156, 1);
  --dictionaryksaagovsasilver: rgba(190, 190, 190, 1);
  --dictionaryksaagovsacod-gray: rgba(16, 15, 13, 1);
  --dictionaryksaagovsastar-dust: rgba(162, 162, 161, 1);
  --dictionaryksaagovsaalizarin-crimson: rgba(235, 49, 49, 1);
  --dictionaryksaagovsabuttercup: rgba(246, 182, 11, 1);
  --dictionaryksaagovsaindigo: rgba(87, 120, 197, 1);
  --dictionaryksaagovsaapple: rgba(59, 173, 73, 1);
  --dictionaryksaagovsapomegranate: rgba(244, 67, 54, 1);
  --dictionaryksaagovsadodger-blue: rgba(33, 150, 243, 1);
  --dictionaryksaagovsachateau-green: rgba(76, 175, 80, 1);
  --dictionaryksaagovsagreen: rgba(255, 193, 7, 1);
  --dictionary-ksaa-gov-sa-inter-regular-16-font-family: "Inter-Regular", Helvetica;
  --dictionary-ksaa-gov-sa-inter-regular-16-font-weight: 400;
  --dictionary-ksaa-gov-sa-inter-regular-16-font-size: 16px;
  --dictionary-ksaa-gov-sa-inter-regular-16-letter-spacing: 0.15000000596046448px;
  --dictionary-ksaa-gov-sa-inter-regular-16-line-height: 16px;
  --dictionary-ksaa-gov-sa-inter-regular-16-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-regular-15-38-font-family: "Inter-Regular", Helvetica;
  --dictionary-ksaa-gov-sa-inter-regular-15-38-font-weight: 400;
  --dictionary-ksaa-gov-sa-inter-regular-15-38-font-size: 15.375px;
  --dictionary-ksaa-gov-sa-inter-regular-15-38-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-regular-15-38-line-height: 32px;
  --dictionary-ksaa-gov-sa-inter-regular-15-38-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-medium-20-28-font-family: "Inter-Medium", Helvetica;
  --dictionary-ksaa-gov-sa-inter-medium-20-28-font-weight: 500;
  --dictionary-ksaa-gov-sa-inter-medium-20-28-font-size: 20.28125px;
  --dictionary-ksaa-gov-sa-inter-medium-20-28-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-medium-20-28-line-height: 32px;
  --dictionary-ksaa-gov-sa-inter-medium-20-28-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-regular-14-font-family: "Inter-Regular", Helvetica;
  --dictionary-ksaa-gov-sa-inter-regular-14-font-weight: 400;
  --dictionary-ksaa-gov-sa-inter-regular-14-font-size: 14px;
  --dictionary-ksaa-gov-sa-inter-regular-14-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-regular-14-line-height: 32px;
  --dictionary-ksaa-gov-sa-inter-regular-14-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-regular-11-92-font-family: "Inter-Regular", Helvetica;
  --dictionary-ksaa-gov-sa-inter-regular-11-92-font-weight: 400;
  --dictionary-ksaa-gov-sa-inter-regular-11-92-font-size: 11.921875px;
  --dictionary-ksaa-gov-sa-inter-regular-11-92-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-regular-11-92-line-height: 32px;
  --dictionary-ksaa-gov-sa-inter-regular-11-92-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-regular-13-89-font-family: "Inter-Regular", Helvetica;
  --dictionary-ksaa-gov-sa-inter-regular-13-89-font-weight: 400;
  --dictionary-ksaa-gov-sa-inter-regular-13-89-font-size: 13.890625px;
  --dictionary-ksaa-gov-sa-inter-regular-13-89-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-regular-13-89-line-height: 32px;
  --dictionary-ksaa-gov-sa-inter-regular-13-89-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-regular-13-23-font-family: "Inter-Regular", Helvetica;
  --dictionary-ksaa-gov-sa-inter-regular-13-23-font-weight: 400;
  --dictionary-ksaa-gov-sa-inter-regular-13-23-font-size: 13.234375px;
  --dictionary-ksaa-gov-sa-inter-regular-13-23-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-regular-13-23-line-height: 32px;
  --dictionary-ksaa-gov-sa-inter-regular-13-23-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-regular-13-13-font-family: "Inter-Regular", Helvetica;
  --dictionary-ksaa-gov-sa-inter-regular-13-13-font-weight: 400;
  --dictionary-ksaa-gov-sa-inter-regular-13-13-font-size: 13.125px;
  --dictionary-ksaa-gov-sa-inter-regular-13-13-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-regular-13-13-line-height: 32px;
  --dictionary-ksaa-gov-sa-inter-regular-13-13-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-medium-16-font-family: "Inter-Medium", Helvetica;
  --dictionary-ksaa-gov-sa-inter-medium-16-font-weight: 500;
  --dictionary-ksaa-gov-sa-inter-medium-16-font-size: 16px;
  --dictionary-ksaa-gov-sa-inter-medium-16-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-medium-16-line-height: 19.200000762939453px;
  --dictionary-ksaa-gov-sa-inter-medium-16-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-medium-18-font-family: "Inter-Medium", Helvetica;
  --dictionary-ksaa-gov-sa-inter-medium-18-font-weight: 500;
  --dictionary-ksaa-gov-sa-inter-medium-18-font-size: 18px;
  --dictionary-ksaa-gov-sa-inter-medium-18-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-medium-18-line-height: 21.600000381469727px;
  --dictionary-ksaa-gov-sa-inter-medium-18-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-bold-26-font-family: "Inter-Bold", Helvetica;
  --dictionary-ksaa-gov-sa-inter-bold-26-font-weight: 700;
  --dictionary-ksaa-gov-sa-inter-bold-26-font-size: 26px;
  --dictionary-ksaa-gov-sa-inter-bold-26-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-bold-26-line-height: 31.200000762939453px;
  --dictionary-ksaa-gov-sa-inter-bold-26-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-regular-20-font-family: "Inter-Regular", Helvetica;
  --dictionary-ksaa-gov-sa-inter-regular-20-font-weight: 400;
  --dictionary-ksaa-gov-sa-inter-regular-20-font-size: 20px;
  --dictionary-ksaa-gov-sa-inter-regular-20-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-regular-20-line-height: 32px;
  --dictionary-ksaa-gov-sa-inter-regular-20-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-bold-14-font-family: "Inter-Bold", Helvetica;
  --dictionary-ksaa-gov-sa-inter-bold-14-font-weight: 700;
  --dictionary-ksaa-gov-sa-inter-bold-14-font-size: 14px;
  --dictionary-ksaa-gov-sa-inter-bold-14-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-bold-14-line-height: 21px;
  --dictionary-ksaa-gov-sa-inter-bold-14-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-medium-17-5-font-family: "Inter-Medium", Helvetica;
  --dictionary-ksaa-gov-sa-inter-medium-17-5-font-weight: 500;
  --dictionary-ksaa-gov-sa-inter-medium-17-5-font-size: 17.5px;
  --dictionary-ksaa-gov-sa-inter-medium-17-5-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-medium-17-5-line-height: 21px;
  --dictionary-ksaa-gov-sa-inter-medium-17-5-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-regular-29-26-font-family: "Inter-Regular", Helvetica;
  --dictionary-ksaa-gov-sa-inter-regular-29-26-font-weight: 400;
  --dictionary-ksaa-gov-sa-inter-regular-29-26-font-size: 29.2578125px;
  --dictionary-ksaa-gov-sa-inter-regular-29-26-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-regular-29-26-line-height: 32px;
  --dictionary-ksaa-gov-sa-inter-regular-29-26-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-bold-16-font-family: "Inter-Bold", Helvetica;
  --dictionary-ksaa-gov-sa-inter-bold-16-font-weight: 700;
  --dictionary-ksaa-gov-sa-inter-bold-16-font-size: 16px;
  --dictionary-ksaa-gov-sa-inter-bold-16-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-bold-16-line-height: 32px;
  --dictionary-ksaa-gov-sa-inter-bold-16-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-regular-21-font-family: "Inter-Regular", Helvetica;
  --dictionary-ksaa-gov-sa-inter-regular-21-font-weight: 400;
  --dictionary-ksaa-gov-sa-inter-regular-21-font-size: 21px;
  --dictionary-ksaa-gov-sa-inter-regular-21-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-regular-21-line-height: 25px;
  --dictionary-ksaa-gov-sa-inter-regular-21-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-medium-40-font-family: "Inter-Medium", Helvetica;
  --dictionary-ksaa-gov-sa-inter-medium-40-font-weight: 500;
  --dictionary-ksaa-gov-sa-inter-medium-40-font-size: 40px;
  --dictionary-ksaa-gov-sa-inter-medium-40-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-medium-40-line-height: 48px;
  --dictionary-ksaa-gov-sa-inter-medium-40-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-bold-31-5-font-family: "Inter-Bold", Helvetica;
  --dictionary-ksaa-gov-sa-inter-bold-31-5-font-weight: 700;
  --dictionary-ksaa-gov-sa-inter-bold-31-5-font-size: 31.5px;
  --dictionary-ksaa-gov-sa-inter-bold-31-5-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-bold-31-5-line-height: 37.79999923706055px;
  --dictionary-ksaa-gov-sa-inter-bold-31-5-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-black-16-font-family: "Inter-Black", Helvetica;
  --dictionary-ksaa-gov-sa-inter-black-16-font-weight: 900;
  --dictionary-ksaa-gov-sa-inter-black-16-font-size: 16px;
  --dictionary-ksaa-gov-sa-inter-black-16-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-black-16-line-height: 32px;
  --dictionary-ksaa-gov-sa-inter-black-16-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-medium-14-font-family: "Inter-Medium", Helvetica;
  --dictionary-ksaa-gov-sa-inter-medium-14-font-weight: 500;
  --dictionary-ksaa-gov-sa-inter-medium-14-font-size: 14px;
  --dictionary-ksaa-gov-sa-inter-medium-14-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-medium-14-line-height: 16.799999237060547px;
  --dictionary-ksaa-gov-sa-inter-medium-14-font-style: normal;
  --dictionary-ksaa-gov-sa-inter-regular-12-font-family: "Inter-Regular", Helvetica;
  --dictionary-ksaa-gov-sa-inter-regular-12-font-weight: 400;
  --dictionary-ksaa-gov-sa-inter-regular-12-font-size: 12px;
  --dictionary-ksaa-gov-sa-inter-regular-12-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-inter-regular-12-line-height: 32px;
  --dictionary-ksaa-gov-sa-inter-regular-12-font-style: normal;
  --dictionary-ksaa-gov-sa-roboto-regular-15-title-font-family: "Roboto-Regular", Helvetica;
  --dictionary-ksaa-gov-sa-roboto-regular-15-title-font-weight: 400;
  --dictionary-ksaa-gov-sa-roboto-regular-15-title-font-size: 15px;
  --dictionary-ksaa-gov-sa-roboto-regular-15-title-letter-spacing: 0px;
  --dictionary-ksaa-gov-sa-roboto-regular-15-title-line-height: 32px;
  --dictionary-ksaa-gov-sa-roboto-regular-15-title-font-style: normal;
}
